@import url(./reset.css);

:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}

html,body{
    background-image: url(./images/bg-desktop.svg);
    background-color: var(--Violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    padding: 3rem 5rem 0;
}
.logo{
    padding: 0 0 3rem;
}
.mainsec{
    display: flex;
}
.contents{
    padding: 2.5rem 0 0 4.5rem;
    color: white;
    h1{
        font-size: 3rem;
        font-family: 'Poppins';
        line-height: 4rem;
        font-weight: 600;
    }
    p{
        padding: 1rem 0 1rem;
        font-family: 'Open Sans';
        font-size: 1.25rem;
    }
}
button{
    width: 14rem;
    padding: 0.9rem;
    border-radius: 40px;
    font-family: 'Poppins';
    color: var(--Violet);
    box-shadow: 0 4px 20px rgb(72, 15, 72);
    border: none;
}
button:hover{
    background-color: var(--SoftMagenta);
    color:white;
    cursor: pointer;
}
.links{
    display: flex;
    width: 100%;
    justify-content: right;
    color: black;
    gap: 1rem;
}
.fa{
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}
.fa:hover{
    border: 2px solid magenta;
    color: magenta;
}
.fa-facebook{
    padding: 0.6rem 0.9rem;
}
.fa-twitter{
    padding: 0.6rem 0.65rem;
}
.fa-instagram{
    padding: 0.6rem 0.7rem;
}
@media screen and (max-width:575px){
    main{
        flex-direction: column;
        align-items: first baseline;
        justify-content: center;
        padding: 3rem 3rem 0;
    }
    .logo{
        width: 10rem;
        padding: 0 0 5rem;
    }
    .mainsec{
        display: flex;
        flex-direction: column;
    }
    .contents{
        padding: 2.5rem 0 0;
        text-align: center;
        h1{
            font-size: 2rem;
            font-family: 'Poppins';
            line-height: 3rem;
            font-weight: 600;
        }
        p{
            padding: 1rem 0 2rem;
            font-family: 'Open Sans';
            font-size: 1.26rem;
        }
    }
    button{
        width: 14rem;
        padding: 0.9rem;
        border-radius: 40px;
        font-family: 'Poppins';
        color: var(--Violet);
        box-shadow: 0 4px 20px rgb(72, 15, 72);
        border: none;
    }
    button:hover{
        background-color: var(--SoftMagenta);
        color:white;
        cursor: pointer;
    }
    .links{
        padding: 5rem 0 2rem;
        display: flex;
        width: 100%;
        justify-content: center;
        color: black;
        gap: 1rem;
    }
}